// Project

#project {
  padding: 0 2rem 2rem;
  min-height: calc(100vh - 60px);
  overflow: hidden;
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  &__title {
    margin: 0;
  }

  &__subtitle {
    background: darken($color-primary, 2);
  }

  &__img {
    display: block;
    border: 3px solid #fff;
    text-decoration: none;
    font-size: 0;

    &:hover {
      opacity: 0.5;
      border-color: $color-secondary;
      @include easeOut;
    }
  }
}
